:root {
  --bg: #080808;
  --panel: #131313;
  --border: #1d1d1d;
  --text-main: #fafafa;
  --text-dim: #9a9a9a;
  --focus: #5c96ff;
}
*{
  box-sizing:border-box;
}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--text-main);
  width: 300px;
}
header{
  display:flex;
  align-items:center;
  gap:.75rem;
  padding:1rem;
  border-bottom:1px solid var(--border);
  background:#212121;
}
.logo-space{
  width:48px;
  height:48px;
  background:transparent;
  border-radius:6px;
  flex-shrink:0;
}
h1{
  font-size:2.2rem;
  font-weight:600;
  margin:0;
}
form{
  display:flex;
  flex-direction:column;
  gap:.75rem;
  padding:1rem;
}
label{
  font-size:.8rem;
  font-weight:500;
  color:var(--text-dim);
}
input{
  background:var(--panel);
  border:1px solid var(--border);
  color:var(--text-main);
  padding:.5rem .6rem;
  border-radius:6px;
}
input:focus{
  border-color:var(--focus);
  outline:none;
}
button{
  background:var(--focus);
  color:#fff;
  border:none;
  padding:.6rem 1rem;
  border-radius:6px;
  font-weight:600;
  cursor:pointer;
}
a{
  color:var(--focus);
  font-size:.75rem;
  text-decoration-line:none;
}
p{
  font-size:.8rem;
  font-weight:500;
  color:var(--text-dim);
  text-align: center;
  margin: 0;
}
.status-box{
  padding:.5rem .75rem;
  background:#212121;
  border:1px solid var(--border);
  border-radius:6px;
  max-width:268px;
  margin:0 auto 1rem auto;
  margin-bottom:22px;
}
.divider{
  height:3px;
  background:#212121;
  margin:0 1rem;
}
.input-button-group{
  display:flex;
  gap:.5rem;
}
.input-button-group input{
  flex:1;
}